.custom-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    background-color:  #002233; /* Primary color Dark60 */
    color:#ccdde6; /* Primary color Light80 */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.custom-button:hover {
    opacity: 0.9;
}