.custom-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fdeaf1; /* Primary color Light80 */
}
  
.custom-button:hover {
    opacity: 0.9;
}

/************** Light Mode **************/
.light .custom-button {
    background-color: #ef2d73; /* Secondary color */
    transition: 0.8s;
}

/************** Dark Mode **************/
.dark .custom-button {
    background-color: #8f1b45; /* Secondary color Dark40 */
    transition: 0.8s;
}