.input-container {
    margin-bottom: 16px;
}
  
.input-label {
    display: block;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
  
.input-field {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.input-field.placeholder{
    padding-left: 8px;
}

/************** Light Mode **************/
.light .input-label {
    color: #00050d; /* Primary color Dark90 */
    transition: 0.8s;
}

.light .input-field {
    background-color: #99afcd; /* Primary color Light60 */
    color: #001634; /* Primary color Dark60 */
    transition: 0.8s;
}

/************** Dark Mode **************/
.dark .input-label {
    color: #e6ebf3;    /* Primary color Light80 */
    transition: 0.8s;
}

.dark .input-field {
    background-color: #000b1a; /* Primary color Dark80 */
    color: #ccd7e6; /* Primary color Light80 */
    transition: 0.8s;
}