/************** Light Mode **************/
.light .about-page-text {
   
    color: #00111a; /* Primary color Light80 */
    transition: 0.8s;
}

/************** Dark Mode **************/
.dark .about-page-text {
    color: #ccdde6; /* Primary color Dark80 */
    transition: 0.8s;
}