.footer {
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/************** Light Mode **************/
.light footer {
    background: #00111a;    /* Primary color Dark80 */
    color: #ccdde6; /* Primary color Light80 */
    transition: 0.8s;
}

/************** Dark Mode **************/
.dark footer {
    background: #ccdde6;    /* Primary color Light80 */
    color: #00111a; /* Primary color Dark80 */
    transition: 0.8s;
}