.footer {
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/************** Light Mode **************/
.light footer {
    background: #013682;    /* Primary color */
    color: #e6ebf3;    /* Primary color Light90 */;
    transition: 0.8s;
}

/************** Dark Mode **************/
.dark footer {
    background: #001634;    /* Primary color Dark60 */
    color: #e6ebf3;    /* Primary color Light90 */
    transition: 0.8s;
}