.select-container {
    margin-bottom: 16px;
}

.select-label{
    display: block;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
  
.select-box {
    width: 100%;
    padding: 8px;
    background-color: #99bbcc; /* Primary color Light60 */
    color: #00111a; /* Primary color Dark80 */
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

