body{
  margin: 0px;
  padding: 0px;
  background-color: #e6eef2;  /* Primary color Light90 */
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************** Light Mode **************/
.container.light {
  background: #ccdde6; /* Primary color Light80 */
  transition: 0.8s;
}

/************** Dark Mode **************/
.container.dark {
  background: #00111a;  /* Primary color Dark80 */
  transition: 0.8s;
}